<!DOCTYPE html>
{% extends "layouts/base.html" %}

{% block title %} {{ labname }}  {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="card">
                                        <div class="card-header">
                                            <h5>欢迎使用???</h5>
                                        </div>
                                        <div class="card-block">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                                            </p>
                                        </div>
                                </div>
                                {% include "componments/welcome_register.html" %}
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{# AJAX加载仪表配置 #}
    <script>
    function flashTable()
    {
            var Showtable=document.getElementById("meterConfigTable")
    var tableHead=Showtable.children[0].children[0];
    var tableBody=Showtable.children[1];
    {#clear table content#}
    tableHead.innerHTML="";
    tableBody.innerHTML="";
    var meterconfigs;
    $.get("labdb/meterconfig",function (data) {
      meterconfigs=data;
      //添加表头，也是数据库里的所有字段
      let labels=meterconfigs.labels;
      //先添加一列#，表示第几个
      let newth=document.createElement("th");
      newth.innerText="#";
      tableHead.appendChild(newth);
      for(let i=0; i<labels.length; i++)
        {
            console.log(labels[i]);
            let newth=document.createElement("th");
            newth.innerText=labels[i];
            tableHead.appendChild(newth);
        }
      //现在开始整表体
      let meters=meterconfigs.meters;
        for(let i=0; i<meters.length; i++)
        {
            console.log(meters[i]);
            let newrow=document.createElement("tr");
            let newNumber=document.createElement("th");
                newNumber.innerText=i+1;
            let newGUID=document.createElement("th");
                newGUID.innerText=meters[i].meterGUID;
            let newName=document.createElement("th");
                newName.innerText=meters[i].meterName;
            newrow.appendChild(newNumber);
            newrow.appendChild(newGUID);
            newrow.appendChild(newName);


            tableBody.appendChild(newrow);
        }

    });
    }
    $(function(){
        flashTable();
    });

    function registerMeter(thisbtn)
    {
        thisbtn.innerText="注册中";
        let meterName=document.getElementById("meterName").value;
        if (meterName==='')
        {
            alert("请输入表名!");
            return;
        }
        $.get("labdb/register?name="+meterName,function (response){
            {#alert(response);#}

            flashTable();
            thisbtn.innerText="注册仪表";
        })
    }

    function removeMeter(thisbtn)
    {
        thisbtn.innerText="删除中";

        let meterGUID=document.getElementById("meterGUID2Remove").value;
        if(meterGUID==='')
        {
            alert("请输入表的GUID！可以从上方的表格中复制");
            return;
        }
        $.get("labdb/remove?guid="+meterGUID,function (response){
            if (response!="200")
            {
                alert(response);

            }
            flashTable();
            thisbtn.innerText="删除仪表";

        })

    }
    </script>


{% endblock javascripts %}
